<%= link_to "Home", home_path, :class => "btn btn-outline-dark" %>

<div class="center-page" style="width:80%;margin:0 auto;">
<% if @user.errors.any? || @user.credit_card.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li style="list-style-type:none;"><%= message %></li>
    <% end %>
    <% @user.credit_card.errors.full_messages.each do |message| %>
      <li style="list-style-type:none;"><%= message %></li>
    <% end %>
  </ul>
<% end %>


<h2>Register</h2>

<%= form_for @user do |f| %>

  <div class="form-group row">
    <div class="col-sm-4">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, :class => "form-control"%>
      </div>
      
      <div class="col-sm-4">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, :class => "form-control" %>
      </div>

      <div class="col-sm-4">
        <%= f.label :age %>
        <%= f.number_field :age, :value => 0, :class => "form-control" %>
      </div>
  </div>

  <div  class="form-group row" >
    <div class="col-sm-5" style="margin:0 auto;">
      <%= f.label :username %>
      <%= f.text_field :username, :class => "form-control" %>
    </div>

    <div class="col-sm-5 center-content" >
      <%= f.label :password %>
      <%= f.password_field :password, :class => "form-control" %>
    </div>
  </div>

  <h2>Credit Card Information</h2>

   <%= f.fields_for :credit_card do |card| %>
  <div class="form-group row">
    <div class="col-sm-8 center-content">
      <%= card.label :cardnumber %>
      <%= card.number_field :cardnumber, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-4">
     <%= card.label :expmonth %>
     <%= card.number_field :expmonth, :class => "form-control" %>
    </div>

    <div class="col-sm-4">
     <%= card.label :expyear %>
     <%= card.number_field :expyear, :class => "form-control" %>
    </div>

     <div class="col-sm-4">
      <%= card.label :securitycode %>
      <%= card.number_field :securitycode, :class => "form-control" %>
     </div>
  </div>
   <% end %>

  <%= f.submit "Register" %>

<% end %>

</div>