<%= link_to "Home", home_path, :class => "btn btn-outline-dark" %>

<div class="center-page">
<% if @user.errors.any? || @user.credit_card.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li style="list-style-type:none;"><%= message %></li>
    <% end %>
    <% @user.credit_card.errors.full_messages.each do |message| %>
      <li style="list-style-type:none;"><%= message %></li>
    <% end %>
  </ul>
<% end %>


<h2>Register</h2>

<%= form_for @user do |f| %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %> <br><br>

  <%= f.label :last_name %>
  <%= f.text_field :last_name %><br><br>

  <%= f.label :username %>
  <%= f.text_field :username %><br><br>

  <%= f.label :password %>
  <%= f.password_field :password %><br><br>

  <%= f.label :age %>
  <%= f.number_field :age, :value => 0 %><br/><br/>

   <%= f.fields_for :credit_card do |card| %>
     <%= card.label :cardnumber %>
     <%= card.number_field :cardnumber %><br>
  
     <%= card.label :expmonth %>
     <%= card.number_field :expmonth %><br>
  
     <%= card.label :expyear %>
     <%= card.number_field :expyear %><br>
  
     <%= card.label :securitycode %>
     <%= card.number_field :securitycode %><br>
  
   <% end %>

  <%= f.submit "Register"%>

<% end %>

</div>