<%= link_to "Home", home_path, :class => "btn btn-outline-dark btn btn-outline-dark btn-light position-absolute" %>

<div class="center-page">
<% if notice %>
      <div class="notice"><%= notice %></div>
<% end %>

<% if @user.admin == true %>
    <h1>***ADMIN***</h1>

    <% else %>

    <h1>***USER***</h1>

<% end %>

<h1><%= "#{@user.first_name} #{@user.last_name}" %></h1>

<div class="form-group row">
    <div class="col-sm-4">
        <h2>Username: <%= @user.username %></h2>
    </div>
    <div class="col-sm-4">
        <h2>Age: <%= @user.age %></h2>
    </div>
    <div class="col-sm-4">
        <h2>Total tokens: <%= @user.tokens %></h2><br>
    </div>
</div>

<h3>**Card Information**</h3><br>

<div class="form-group row">
    <div class="col-sm-8 center-content">
        <h3>Card Number: <%= @user.credit_card.cardnumber %></h3>
    </div>
</div>

<div class="form-group row">
    <div class="col-sm-4">
        <h3>Exp Month: <%= @user.credit_card.expmonth %></h3>
    </div>
    <div class="col-sm-4">
        <h3>Exp Year: <%= @user.credit_card.expyear %></h3>
    </div>
    <div class="col-sm-4">
        <h3>Security Code: <%= @user.credit_card.securitycode %></h3>
    </div><br><br>

    <div class="center-content">
        <button><%= link_to "Edit Profile", edit_user_path(@user)%></button>
        <button><%= link_to "Delete Profile", user_path(@user), method: "delete"%></button>
    </div>
</div>

</div>