<div class="center-page page-black ">

<h1 class="word-color"><%=@word%></h1>

<%= form_tag wordfinal_path(@word) do %>
  <label class="word-color margin-top">HOW-MANY-TIMES-DOES-THE-WORD-APPEAR</label><br>
  <%= number_field_tag 'number' %><br>
<%=hidden_field_tag :wordcount, "#{@wordcount}"  %>
 <%= submit_tag 'GUESS!' %>
 <%end%>

 </div>