<button class="btn btn-outline-dark"><%= link_to "Home", home_path %></button>

<h1 class = "margin-left">Tokens</h1>

<div class="container-fluid"></div>
<div class="row">


<div class="col-sm-2 margin-left">

  <div class="card center-text" style="width: 18rem;">
  <%= image_tag("1.png", :class => "card-img-top")  %>
    <div class="card-body">
      <h5 class="card-title">20 Tokens</h5>
      <p class="card-text">Buy 20 Tokens.</p>
      <% if session[:user_id] %>
        <a href="#" class="btn btn-primary">$4.99</a>
      <% else %>
        Login to Purchase
      <% end %>
    </div>
  </div>
</div>


<div class="col-sm-2 margin-left">

<div class="card center-text" style="width: 18rem;">
  <%= image_tag("3.png", :class => "card-img-top")  %>
    <div class="card-body">
      <h5 class="card-title">50 Tokens</h5>
      <p class="card-text">Buy 50 Tokens.</p>
      <% if session[:user_id] %>
        <a href="#" class="btn btn-primary">$9.99</a>
      <% else %>
        Login to Purchase
      <% end %>
    </div>
  </div>
</div>

<div class="col-sm-2 margin-left">

<div class="card center-text" style="width: 18rem;">
  <%= image_tag("4.png", :class => "card-img-top")  %>
    <div class="card-body">
      <h5 class="card-title">100 Tokens</h5>
      <p class="card-text">Buy 100 Tokens.</p>
      <% if session[:user_id] %>
        <a href="#" class="btn btn-primary">$19.99</a>
      <% else %>
        Login to Purchase
      <% end %>
    </div>
  </div>
</div>

<div class="col-sm-2 margin-left">

<div class="card center-text" style="width: 18rem;">
  <%= image_tag("5.png", :class => "card-img-top")  %>
    <div class="card-body">
      <h5 class="card-title">150 Tokens</h5>
      <p class="card-text">Buy 150 Tokens.</p>
      <% if session[:user_id] %>
        <a href="#" class="btn btn-primary">$49.99</a>
      <% else %>
        Login to Purchase
      <% end %>
    </div>
  </div>
</div>



</div>


<br><br>

